body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 5px tgba(0,0,0,0,1);
}

h1{
    text-align: center;
    font-size: 22px;
    color: #333333;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #cccccc;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: 1px solid #999999;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #cccccc;
}


.input-error {
    border: 2px solid red !important;
}

.error-texto {
    color: red;
    display: block;
    font-size: 13px;
    margin-top: 4px;
    font-weight: bold;
}

.input-activo {
    border: 2px solid blue !important;
    outline: none;
}